html, body {
  margin: 0;
  padding: 0;
}

.chemvector-object {
  background-image: url('../images/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  /* Firefox won't display activity animation without display attribute */
  display: block;
}

.chemvector {
  display: block;
  position: relative;
}

.chemvector .image {
  /* Firefox needs width/height */
  width: 100%;
  height: 100%;
}

.chemvector .problem-image {
  width: 100%;
  height: 100%;
  
  background: #cccccc;
  background-image: url('../images/problem-image.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius:5px;
  /* Firefox won't display graphic without display attribute */
  display: block;
}