@CHARSET "ISO-8859-1";

.table_style {
	border-bottom-color: rgba(196, 192, 201, 0);
	border-top-color: rgba(196, 192, 201, 0);
	border-left-color: rgba(196, 192, 201, 0);
	border-right-color: rgba(196, 192, 201, 0);
	padding: 24px 0px 2px 0px;
}

*.rf-dt-c {
	border-bottom-color: rgba(196, 192, 201, 0);
	border-top-color: rgba(196, 192, 201, 0);
	border-left-color: rgba(196, 192, 201, 0);
	border-right-color: rgba(196, 192, 201, 0);
	padding: 4px 0px 0px 0px;
}

.image_style {
	padding: 0px 20px 0px 23px;
}

.panelStatus {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 8px 0px 8px 10px;
	background-color: #dcd8d1;
}

.streamStyle {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.images {
	background-image: url("/seam-seamspace/home/images/bg.jpg");
	background-repeat: no-repeat;
	height: 150px;
}

.side_height {
	height: 150px;
}

.center_height {
	height: 100%;
}

.rf-p-hdr {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 8px 0px 8px 10px;
	color: black;
}

.welcomeHome{
	
	font-size: 24px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 8px 0px 8px 10px;
	color: black;

}

.rf-p {
	border: none;
	color: rgba(255, 255, 255, 0);
}

button,input[type="reset"],input[type="submit"],input[type="button"] {
	border-width: 2px;
	border-radius: 5px;
}

.col {
	width: 100px;
}

.pagination-center {
	text-align: center;
	display: block;
	background-color: transparent;
}

.info {
	color: green;
}

.error {
	color: red;
}

.font {
	font-weight: bold;
}

.align {
	padding: 10px 0px 20px 140px;
	width: 50%;
}

.scrollerSytle {
	text-align: center;
	display: block;
	background-color: transparent;
}

.headeralign {
	padding: 10px 0px 20px 140px;
	width: 55%;
	align: center;
}
.fontStyle{
	font-family: sans-serif; 
	font-size: 16px; 
	text-align: justify;
}