@CHARSET "ISO-8859-1";

.images {
	background-image: url("/seam-seamspace/home/images/bg.jpg");
	background-repeat: no-repeat;
	height: 150px;
}



.center_height{
			
	height:100%;
}

.rf-p-hdr{
			

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 8px 0px 8px 10px;
	color: black;
}



button, input[type="reset"], input[type="submit"], input[type="button"]{ 
			border-width: 2px;
			border-radius: 5px;
}

.col {
	width: 100px;
}

.pagination-center {
	text-align: center;
	display: block;
	background-color: transparent;
}

.info {
     color: green;
}
.error {
     color: red;
}

.font{
		 font-weight: bold;
		}
.align {
	padding: 10px 0px 20px 140px;
	width: 44%;
	margin-left: 30px;
}



.scrollerSytle{
		text-align: center;
		display: block;
		background-color: transparent;
		}
		
.headeralign {
	padding: 10px 0px 20px 140px;
	width: 55%;
	align:center;
}

#slideshow-container {
 border: 1px solid;
 border-color: #ffff04;
 margin: 10px 90px;
 width: 680px;
 height: 335px;
}
 
#slideshow-container img {
 position: absolute;
 margin: 0px;
 width: inherit;
 height: inherit;

}

.welcomepage{
	font-family: Lucida Sans;
}

.leaderboardStyle{
	border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #C4C0C9;
border-right-width: 1px;
border-right-style: solid;
border-right-color: #C4C0C9;
background-color: #D4CFC7;
background-image: url(/seam-seamspace/rfRes/colHdrGrad.png.seam?v=4.3.1.Final&db=eAFjZJBjZDBiZBBh!H!!zlXG!1fOH2dgAgA4fAdk&ln=org.richfaces.images);
background-position: top left;
color: #000000;
font-family: Arial, Verdana, sans-serif;
font-size: 11px;
font-weight: bold;
padding: 4px;
text-align: center;
}

.rf-tab-lbl {
white-space: pre-wrap;
font-family: Arial, Verdana, sans-serif;
font-size: 11px;
margin: 20px;

}

.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
background: url(/seam-seamspace/rfRes/tabLineBg.png.seam?v=4.3.1.Final&db=eAFjZGBlZJBiZBBh!P!x3UvG!0DAwAQAOVYH!g__&ln=org.richfaces.images) repeat-x scroll center top;
background-color: #F1EEE9;
border-color: #C4C0B9;
border-style: initial;

border-bottom-width: 0px;
padding-top: 2px;
overflow: hidden;
height: 25px;
white-space: nowrap;
position: relative;
}
